# Compilados
*.exe
*.o
*.out

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Gemini
.gemini/

# Dados e PDFs gerais
*.pdf
# Ignorar arquivos gerados pelo LaTeX na pasta slide, mas manter o .tex
slide/*.log
slide/*.aux
slide/*.nav
slide/*.out
slide/*.snm
slide/*.toc
slide/*.vrb
slide/apresentacao.pdf
# O tex é importante
!slide/apresentacao.tex

# Manter dados
*.txt
!data/*.txt
!mini_projeto_estruturas_dados_c.txt
!roteiro_apresentacao.txt